#mypage {
  padding: 1.5em;
  background: #f5f5f5;
  margin: 81px 30px 30px 30px;
}
.headtext {
  display: contents;
}
#activeinfo {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
