#habiters {
  position: absolute;
  width: 203.73px;
  height: 24px;
  left: 370px;
  top: 48px;
}
#dot {
  position: absolute;
  width: 6.77px;
  height: 6.75px;
  left: 100px;
  top: 12px;
  background: #937cf1;
  border-radius: 45%;
}
#footer {
  position: absolute;
  width: 1920px;
  height: 204px;
  left: 0px;
  top: 0px;
}
