#nav {
  position: relative;
  width: 1920px;
  height: 90px;
}
#habiters {
  position: absolute;
  width: 203.73px;
  height: 24px;
  left: 370px;
  top: 33px;
}
#mypage {
  position: absolute;
  width: 78px;
  height: 26px;
  left: 1472px;
  top: 32px;
}
#myhabit {
  position: absolute;
  width: 63px;
  height: 26px;
  top: 32px;
  left: 800px;
}
#habitmunity {
  position: absolute;
  width: 94px;
  height: 26px;
  top: 32px;
  left: 920px;
}
#dot {
  position: absolute;
  width: 6.77px;
  height: 6.75px;
  left: 100px;
  top: 12px;
  background: #937cf1;
  border-radius: 45%;
}
