.writeinputs {
  padding: 16px 24px;
  border: 4px solid black;
  border-radius: 4px;
}

#write {
  padding: 1.5em;
  background: #f5f5f5;
  margin: 81px 30px 30px 30px;
}
.writeinfo {
  margin-bottom: 30px;
  background: #f5f5f5;
}
.writelabel {
  display: block;
  background: #f5f5f5;
  padding-bottom: 10px;
}

#writeinput {
  padding: 16px 24px;
  border: 4px solid black;
  border-radius: 4px;
  height: 250px;
  overflow: auto;
}
#writebutton {
  margin-top: 15px;
  width: 60px;
  height: 20px;
}
