#detailTitle {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
#titleInfo {
  display: flex;
}
#detailWrite {
  padding: 50px 100px 50px 100px;
  word-break: break-all;
  font-size: smaller;
}
#recommand {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.btnDiv {
  text-align: center;
}
#doBtn {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #00498c;
  color: white;
  border: white;
  font-size: x-large;
}
#dontBtn {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #dc143c;
  color: white;
  border: white;
  font-size: x-large;
}
#reply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 100px 10px 100px;
}
#replyArea {
  word-break: break-all;
  resize: none;
  border: #f5f5f5 1px solid;
  outline: none;
  width: 70%;
  padding: 20px;
  height: 40px;
}
#replyBtn {
  border: none;
  background-color: #00498c;
  color: white;
  width: 70%;
}
#replyList {
  padding: 15px 100px;
}
#replyItem {
  display: flex;
}
#replyer {
  margin: auto 0px auto 20px;
}
#replyContent {
  word-break: break-all;
  font-size: smaller;
  margin: 10px 0px 0px 60px;
}
#rereplyBtn {
  margin: 10px 0px 20px 60px;
}
#profile {
  border-radius: 30px;
}
#replyHead {
  display: flex;
  justify-content: space-between;
}
#menuGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.groupBtn {
  border: none;
}
.groupBtn:hover {
  background-color: #ebebeb;
  width: 80px;
}
#menuBtn {
  border: none;
  font-size: x-large;
}
#menuBtnTitleInfo {
  border: none;
  font-size: larger;
}
#menu {
  min-width: none;
}
