.find {
  display: flex;
  margin: 30px 30px 30px 0;
  justify-content: flex-end;
}
.home {
  padding: 1.5em;
  background: #f5f5f5;
  margin: 0 30px 30px 30px;
}

.table {
  border: 1px #a39485 solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.th {
  text-align: center;
  padding: 1em 0.5em;
  vertical-align: middle;
}

.thead {
  font-weight: bold;
  color: black;
  background: #73685d;
}

.td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 1em 0.5em;
  vertical-align: middle;
  text-align: center;
}
.link {
  color: red;
  text-decoration: none;
}
.write {
  margin-left: 30px;
}
.pagingBtn {
  text-align: center;
}
